/*24avril 19.15 
Gregorio site CSS.
Copyright © 2007 Patrick Roux

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

/* Edit history
2005-05-18: design updates by Richard Chonak:
-- replace various fonts with Crimson Text
*/

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:600italic,600,400,400italic);

body { 
	margin: 0px;
	background: #ffffff url('illus/p02.png') repeat;
	color: #44322c;
	padding: 0;
	}

/* top image */

#ban {
	height: 90px;
	margin-right: 0;
	margin-left: 0;
	background: transparent url('illus/fondban.png') repeat;
	margin-top: 0;
	margin-bottom: 0; 
	border-bottom: 2px solid cornflowerblue;
	}
	
#banniere {
	height: 90px;
	width: 636px;
	margin-left: 10px;
	background: transparent url('illus/bangauche2.png');
	}

#bandroite {
	height: 90px;
	background: red url('illus/harpedroite.png');
	}

.hd {
	float: right;
	}
	

.flux {
	background: url('illus/p02.png') repeat;
	margin-right: 0;
	margin-left: 220px;
	margin-top: 0;
	margin-bottom: 30px;
	border-left: 2px solid cornflowerblue;
	}

.text {
	padding: 30px;
	padding-top: 0;
	font-family: 'Crimson Text', 'Century Schoolbook L', 'Palatino Linotype', Georgia, Palatino, 'Bitstream Vera Serif', serif;
	color: #44322c;
	font-size: 1.06em;
	font-weight: 400;
	
	}
	
/* menu */
.menu {
	font-family: 'Crimson Text', 'Urw Chancery L', 'Apple Chancery', 'ZapfChan Dm BT', 'Monotype Corsiva', 'Palatino Linotype', Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	width: 218px;
	float: left;
	background: url('illus/p02.png') repeat;
	margin-right: 30px;
	margin-left: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 30px;
	}

.menu li {
	margin-left: 1em;
	list-style-type: none;
	}

.n1 {
	margin-top: 15px;
	margin-bottom: 0;
	}

.menu a {
	text-decoration: none;	/*no underlines*/
	display: block;
	width: 187px;
	margin-top: 15px;
	margin-left: 2px;
	margin: 2px;
	color: #c9265a;
	padding-left: 0;
	text-align: left;
	font-size: 20px;
	}

.menu a:hover,.level2 a:hover {
	color: #891a3d;
	}

.menuitem {
	padding: 0;
	margin-left: 0;
	background: #ffffff url('illus/p02.png') repeat;
	}

.level2 {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.level2 a {
	color: #44322c;
	margin-top: 0;
	font-size: 18px;
	text-align: left;
	}

/* bottom */

.bottom {
	clear: both;
	background: url('illus/p02.png') repeat;
	margin: 0;
	padding: 1px 15px 15px 15px;
	font-family: 'Century Schoolbook L', 'Century Schoolboolbook', Georgia, Utopia, 'Bitstream Vera Serif';
	color: #44322c;
	font-size: 0.94em;
	}

.bottom #lastdate {
	text-align: right;
	font-size: 0.8em;
	margin-bottom: -3em;
}

/* titles */
h1, h2, h3, h4, h5 {
	color: #b22250;
	font-family: 'Crimson Text', 'Urw Chancery L', 'Apple Chancery', 'ZapfChan Dm BT', 'Monotype Corsiva', 'Century Schoolbook L', 'Palatino Linotype', Georgia, 'Times New Roman', serif;
	padding-left: 0;
	font-weight: 600;
	margin-bottom: 0;
	padding-bottom: 0;
	}

h1 {
	padding-left: 0;
	margin-top: 0;
	font-size: 2.3em;
	}

h2 {
	font-size: 1.84em;
	}
	
h3 {
	font-size: 1.47em;
	}

h4 {
	font-size: 1.18em;
	}

p:first-letter {
	font-size: 1.59em;
	font-family: 'Crimson Text', 'Urw Chancery L', 'Apple Chancery', 'ZapfChan MdIt BT', 'Monotype Corsiva', 'Palatino Linotype', Georgia, 'Times New Roman', 'Century Schoolbook L';
	font-weight: 400;
	 /*float: left;*/
	 color: #b22250; 
	 line-height: 50%;
	 }

p.nofirst:first-letter {
	font-family: 'Crimson Text', 'Century Schoolbook L', 'Palatino Linotype', Georgia, Palatino, 'Bitstream Vera Serif', serif;
	color: #44322c;
	font-size: 1.06em;
	margin-right: 0px;
	line-height: 100%;
    }
	 
.log {
	font-variant: small-caps;
	}
	
.titrepar {
	color: #b22250;
	font-family: 'Urw Chancery L', 'Apple Chancery', 'ZapfChan MdIt BT', 'Monotype Corsiva', 'Palatino Linotype', Georgia, 'Times New Roman', 'Century Schoolbook L', serif;
	}

.text a, .bottom a {
	text-decoration: none;
	color: #c9265a;
	
	
	}

code {
	font-family: 'Bitstream Vera Sans Mono', monospace;
	font-size: 0.8em;
	}
	
.code25 {
	width: 25em;
	background: url('illus/papier09.png') repeat;
	color: inherit;
	padding: 0px 5px 0px 10px;
	border: 1px solid gray;
	font-size: 1.24em;
	margin-right: auto;
	margin-left: auto;
	}

.code25 code {
	font-family: 'Bitstream Vera Sans Mono', monospace;
	font-size: 0.8em;
	}

.commandline {
	padding: 7px 5px 7px 10px;
	margin-right: 30px;
	margin-left: 5px;
	background: url('illus/papier09.png') repeat;
	border: 1px solid gray;
	}

.text ul li {	
	list-style-image: url('illus/puce.png');
	}

/* table of contents */
.toc {
	margin-left: 50px;
	margin-bottom: 60px;
	}

.toc h1 {
	text-align: left;
	font-size: 1.8em;
	height: 1em;
	margin-left: -50px;
	}

.toc h2 {
	height: 0.9em;
	font-size: 1.44em;
	font-weight: normal;
	}

.toc h2 a {
	font-size: 1em;
	}

.toc h3 {
	margin-left: 2em;
	font-size: 1.15em;
	height: 0.7em;
	font-weight: normal;
	}

.toc h3 a {
	font-size: 1em;
	}

.toc h4 {
	margin-left: 4em;
	font-size: 0.92em;
	height: 0.6em;
	font-weight: normal;
	}

.toc h4 a {
	font-size: 1em;
	}

/* tables */

table {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	}

.tabun td {
	text-align: left;
	padding-left: 5px;
	padding-right: 10px;
	}

.tabun th {
	padding-left: 5px;
	padding-right: 10px;
	}

caption {
	text-align: center;
	font-style: italic;
	caption-side: top;
	}

/* images */

.clairdroite {
	margin: 0;
	clear: right;
	visibility: hidden;
	height: 0;
	}

.legende {
	font-family: 'Crimson Text', 'Urw Chancery L', 'Apple Chancery', 'ZapfChan MdIt BT', 'Monotype Corsiva', 'Palatino Linotype', Georgia, 'Times New Roman', 'Century Schoolbook L';
	text-align: center;
	margin: 15px;
	font-size: 1.2em;
	}

